.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 350px;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  